$gray-100: '#f2f2f2';
$gray-200: #eeeeee;
$gray-300: #d9d9d9;
$gray-400: #c3c3c3;
$gray-500: #aeaeae;
$gray-600: #828282;
$gray-700: #6d6d6d;
$gray-800: #414141;
$gray-900: #2c2c2c;
$lektor-100: #e6d9de;
$lektor-200: #cdb4be;
$lektor-300: #b48f9d;
$lektor-400: #9b6a7d;
$lektor-500: #8e586d;
$lektor-600: #82455d;
$lektor-700: #76334d;
$lektor-800: #612a40;
$lektor-900: #4c2132;
